<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
<meta charset="UTF-8" />
<title>Professor</title>

</head>
<body>
	<section layout:fragment="content">
		<div class="container">

			<h1>Professor</h1>
			<div class="container-fluid">
				<div class="row">
				
					<div class="col-4" style="">
					
					
					 <img th:src="@{/images/profG.jpg}" class="card-img-top" alt="...">
					
					
					</div>
					<div class="col-8" style="margin-top: 32px;">
					
						<button type="button" class="btn btn-success btn-lg btn-block" style="border-radius: 50px;">Registrar Aula</button>
						<button type="button" class="btn btn-success btn-lg btn-block"style="border-radius: 50px;">Registrar Presença</button>
						<button type="button" class="btn btn-success btn-lg btn-block"style="border-radius: 50px;">Lança Nota</button>
						<button type="button" class="btn btn-success btn-lg btn-block"style="border-radius: 50px;">Visualizar Caderneta</button>
						<button type="button" class="btn btn-success btn-lg btn-block"style="border-radius: 50px;">Visualizar Turma</button>
					
					</div>
				</div>
			</div>


		</div>
	</section>

</body>
</html>
